# Logs
**/logs
**/*.log
**/npm-debug.log*

# Runtime data
**/pids
**/*.pid
**/*.seed
**/*.pid.lock

# Coverage directory used by tools like istanbul
**/coverage

# Dependency directories
**/node_modules/

# Git files and directories
.git/
**/.gitignore

# Docker files
**/Dockerfile
**/.dockerignore
